extends layout 

block content
  .nav 
    h1 Etchmon - Blog
    form(method="POST" action="/api/logout")
      button(type="submit") Logout
  .container 
    if (posts)
      each post in posts 
        .post 
          h1 #{post.title}
          p #{post.date}
          button.delete-post(id=post._id) x
          button edit
  script(src='/js/catalog.js')