extends layout 

block content
  .posts
    if (posts)
      each post in posts 
        .post 
          h1 #{post.title}
          p #{post.date}
          button.delete-post(id=post._id) x
          form(method="GET" action=`/api/posts/${post._id}/edit`)
            button(type="submit") edit
  script(src='/js/scripts.js')