extends layout

block content
  .content
    .header
      h2 Leave Your Mark
      p James Etchells' Blog
    .posts
      if (posts)
        each post in posts 
          .post
            h1.title #{post.title}
            p.date | #{post.date} 
            p.text #{post.text}
            
            


