extends layout

block content
  .content
    .header
      h2 Etchmon
      p Welcome to the blog
    .posts
      if (posts)
        each post in posts 
          .post
            h1 #{post.title}
            p #{post.text}
            p | #{post.date} 
            


