doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#grid-container
      div#navbar
        .nav
          a.logo(href="/") JE
          h1 BLOG
        .navlinks 
          a(href="/") Home
          a(href="/about") About
          a(href="/contact") Contact
          if currentUser
            form(method="POST" action="/api/logout")
              button(type="submit") Logout
            a(href="/create") New Post
      div#main-content
        block content

