doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#grid-container
      div#navbar
        .nav
          a.logo(href="/") JE
          h1 BLOG
          if currentUser 
            p Welcome. #{currentUser.username}!
            form(method="POST" action="/api/logout")
              button(type="submit") Logout
            a(href="/create") New Post
      div#main-content
        block content

