extends layout

block content
  .login
    form(action='/sign-in' method='POST')
      input(type='text' placeholder='Username' name='username' required='true' value='')
      input(type='password' placeholder='password' name='password' required='true')
      button(type='submit') Submit